body {
  width: 800px;
  margin: 0 auto;
  background-image: url("../img/bg.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: rgba(250,253,240,1);
  text-decoration: none;
  padding-top: 25px;
}

nav{
	display: inline-block;
  background: transparent;
  width: 800px;
  height: 60px;
  border-radius: 25px;
  text-shadow: 3px 3px black;
  text-align: center;
  position: fixed;
  margin-top: -100px;
  /* border-top: 5px solid black; */
  /* border-bottom: 5px solid black; */
  padding-top: 20px;
  background: linear-gradient(0deg, rgba(34,34,34,0.66) 10%, rgba(34,50,34,0.66) 100%);
  z-index: 10;
}

nav a{
	margin-left: 15px;
	vertical-align: middle;
	font-size: 1.5em;
	text-shadow:5px 5px 8px #00FF00;
}

#right{
	display: inline-block;
	float: right;
}

td a:link{
	text-decoration: none;
	text-shadow: none;
}

svg{
  font: bold 30px Century Gothic, Arial;
  text-align: center;
  height: 35px;
  filter: drop-shadow(5px 10px 10px #00FF00);
  /* x-offset , y-offset , blur hoeveelheid , shadow-radius aka shadowlenght*/
}

svg:hover{
    filter: drop-shadow(5px 5px 25px #00FF55);
}

.svg1{
  width: 165px;
}

.svg2{
  width: 125px;
}

.svg3{
  width: 115px;
}

text{
  fill: none;
  /*stroke: rgba(15,5,15,0.75);*/
  stroke: white;
  stroke-width:1.5px;
  stroke-linejoin: round;
  
}


text:hover{
  animation: 2s pulsate infinite;
  fill: rgba(0,250,25,0.5);
  
}

/*
@keyframes pulsate {
  0%{ 
    fill: none; 
    stroke-width:1.5px;
  }
  25%{
    stroke-width:1.75px;
    fill: rgba(0,250,0,0.25);
  }
  50%{ 
      stroke-width:2px; 
      fill: rgba(0,250,0,0.5);
    }
  75%{
    stroke-width: 1.75px;
    fill:rgba(0,250,0,0.25);
  }
}
*/

.hidden{
	display: none;
}

h1{
	font-size: 2em;
}

hr{
    border-color: rgba(15,5,15,0.75);
}

.titel{
  /*background-color: rgba(34,50,34,0.8);*/
  background: linear-gradient(0deg, rgba(34,34,34,0.66) 10%, rgba(34,50,34,0.66) 100%);
  margin-top: 80px;
}

.hrTitel{
    border-width: 3px;
}

.hoofdtitel{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 25px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 25px;
	border-top-left-radius: 20px;
	border-top-right-radius: 25px;
	text-align: center;
}

.hoofdtitel h1 span{
    text-shadow:2px 2px black,-2px -2px 8px #00FF00;
}

.subtitel{
    width: 100%;
    text-shadow:2px 1px 3px #00FF00;
    text-align: center;
}

.subtitel:hover{
    text-shadow:2px 2px 5px #00FF00;
}


h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.2em;
}

.scimport{
	width: 50%;
	height: 100%;
	display: inline-block;
}

#foto{
	width: 29%;
	height: 220px;
	display: inline-block;
	margin-top: 1%;
	margin-right: 1%;

	border: 5px solid;
	border-width: 8px;
	border-radius: 25px;
	border-color: rgba(0,0,10,0.8);
  background-color:rgba(34,34,34, 0.5) ;

    /* BORDER MET FOTO 
    -moz-border-image: url(../img/trippy.jpg) 10 stretch;
	-webkit-border-image: url(../img/trippy.jpg) 10 stretch;
	-o-border-image: url(../img/trippy.jpg) 10 stretch;
	border-image: url(../img/trippy.jpg) 10 stretch;
	*/
}

#foto:hover{
	border-color: rgba(0,200,0,0.75);
  box-shadow: 2px 2px 2px rgba(0,150,33,0.75);
}

#foto img:hover{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#foto img:onmouseenter{
	-moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#foto p{
  font-size: 0,75em;
	text-align: center;
	margin-top: 8px;
}

#foto li img{	
  	width: 100%;
  	height: 161px;
  	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#foto li{
  width: 100%;
}

#foto li:hover{
	background-color: rgba(10,50,10,0.75);
  border-width: 15px;
	height: 220px;
	border-radius: 20px;
	z-index: 2;
}

#foto span{
	/*background-color: rgba(200,12,120,0.75);*/
}

.spanid{
	display: block;
	margin-top: -30px;
	margin-left: 5px;
	background-color: none;
	width: 15px;
	text-align: center;
	text-shadow:1px 1px rgb(70,40,180);
}

.imghr{
	margin-top: -4px;
}

#foto a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

#fotonaam{
	
  margin-top: 3px;
	/*background-color:rgba(152, 18, 152, 0.25);*/
}

#fotonaam span{/*
	background-color: rgba(200,12,120,0.75);*/
}

a, a:link , a:visited , a:hover, a:active {
	color: rgb(200,255,255);
	text-shadow:1px 1px 10px #00FF00;
}

/* UPLOAD FORM */
.upload-form input{
	width: 50%;
	display: list-item;
	margin-left: 10px;
}

.upload-form input[type='text'] {
	width: 25%;
}

.idinput{
	width: 60px;
	height: 30px;
	font-size:20px;
}

.updatetable{
  width: 66%;
  display: block;
  margin: 0 auto;
  background-color: rgba(34,34,34,0.66);
  padding: 20px;
  border: 5px solid rgba(15,5,15,0.75);
  border-radius: 25px;
}

.updatetable tr{
	width: 100%;
  border: rgba(34,34,34,0.66);
}

.updatetable tr td{
	/*width: 25%;*/
}

.updatetable input[type="text"] {
  display: block;
  margin-left:25px;
  margin-top: -8px;
}

.updatetracklink{

}

.btnUpdate,input[name='updatez']{
  display: block;
  text-align: center;
  margin: 0 auto;
}


.updateanswer{
	background-color: rgba(0,0,15,0.8);
}

.updatetable td span{
  text-shadow: 2px 1px 3px #00FF00;
}

.updatetable td span, .upload-form input[type='file']{
	padding-left: 5px;
	padding-right: 5px;
	
	overflow: hidden;
	/*word-wrap: break-word;*/
	/*white-space: nowrap;*/
  	/*overflow: hidden;*/
  	/*max-width: 80%;*/
  	/*text-overflow:ellipsis;*/
}

.tableUpdateRightCol{
  width: 50%;
  min-width: 200px;
}

.tableUpdateLeftCol{
  width: 40%;
  min-width: 180px;
}

input[type='file'],input[type='submit'],input[type='text'],input[type='number']{
	border-radius: 6px;
	border: 2px solid rgba(15,5,15,0.75);

}

input[type='text'],input[type='number']{
	text-align: center;
  display: block;
  margin: 0 auto;
  width: 66%;
  height: 25px;
  font-size: 20px;
}

.updatetable input[type='text'],.updatetable input[type='number']{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 85%;
  height: 20px;
  font-size: 18px;
  margin-top: -15px;
}

input[type='submit']{
  background: rgba(34,34,34,0.8);
  border-radius: 25px;
  color: #FFFFFF;
  font-family:Times;
  font-size: 30px;
  font-weight: 600;
  padding: 12px 10px 12px 10px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 2px 2px black, -2px -2px 8px #00FF00;
  border: solid rgba(0,0,10,0.75) 3px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 0 auto;
}

input[type='submit']:hover{
  border: solid rgba(15,180,15,0.75) 3px;
  background: rgba(0,200,55,0.5);
}

.uploadForm{
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid rgba(15,5,15,0.75);
  border-radius: 25px;
  background: rgba(34,34,34,0.8);
}

.uploadForm input{
  display: block;
  margin: 150,0; 
}

.uploadForm input{
  display: block;
  margin: 0 auto;
}

.adminMenu{
  width: 25%;
  text-align: center;
  background: rgba(34,34,34,0.75);
  border: solid rgba(0,0,10,0.75) 3px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px;
}

#MicrosoftTranslatorWidget{
    text-shadow:5px 5px 8px #00FF00;
}

#MicrosoftTranslatorWidget:hover{
    text-shadow:5px 8px 8px #00FF00;
}

#LauncherLogo{
    visibility: hidden;
    display: none;
    opacity: 0.0;
    position: absolute;  
    left: -999999px;
}

footer{
    background-color:#222;
    
}


/* ---------------------------------------------------
                    SCROLLBAR
----------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}
 
::-webkit-scrollbar-thumb {
  /*background: #ffbb33; */
  background:  linear-gradient(0deg, rgba(0,15,30,1) 10%, black 100%);
  border-radius:15px;
  border: 1px solid rgba(0,250,0,0.7);
}

::-webkit-scrollbar-thumb:hover {
  border: 2px solid rgba(0,250,0,0.9);
  background:  linear-gradient(0deg, rgba(0,15,30,1) 20%, black 100%);
}