body{
	display: block;
	width: 800px;
	margin: 0 auto;
	/*background-image: url("bgs/bg07.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;*/
	background-attachment: fixed;
	background: url("bgs/bg07.gif") no-repeat center center fixed;
	background-size: cover;
	
}

#overlay{
    width: 805px;
    background-color: rgba(15,10,10,0.5);
    /*background-color: rgba(15,10,10,0.5);*/

}

canvas {
  display:block;
  margin-top: 10px;
  border:3px dashed #3471eb;
  margin-left: -1;
  /*
  background-color: rgba(200,85,110,0.15);
  background-color: rgba(15,10,10,0.5);*/
}

.hidden{
	display: none;
}

.startbut{
	width: 100%;
	height: 80px;
	background-color: rgba(185,20,85,0.85);
	color: rgb(65,230,165);
	text-align: center;
	font-size: 2.5em;
	font-family: 'Niconne', cursive;
}

#logo{
    margin-top: 15px;
    margin-bottom: -10px;
}

#logopic{
	width: 600px;
	height: 90px;
	margin: 10px 5px;
	display: block;
    /*background-color: rgba(10,15,15,0.5);*/
    border-radius: 4px;
}

#mirrorDiv{
	transform:scale(-1,1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-o-transform:scale(-1,1);
}

#title{
	text-align: center;
	font-size: 3.5em;
	font-weight: bolder;
	font-family: 'Niconne', cursive;
	color: rgb(240,140,190);
}

#score1{
	text-align: left;
}

#score2{
	text-align: right;
}

p{
	width: 800px;
	color: white;
	text-align: center;
	font-size: 28px;
}

#play{
	width: 100%;
	display: block;
	margin:0 auto;
}

#pimgs{
	display: block;
	width: 100%;
	/*background-color: rgba(15,10,10,0.5);*/
}


#imgp1{
	width: 50;
	height: 65;
	align: left;

}

#imgp2{
	width: 45;
	height: 70;
	align: left;
}

#score{
	display: block;
	margin-top: 50px;
	width: 100%;
}

table{
	/*background-color: rgba(200,100,120,0.5);*/
	width: 100%;
	/*
	border-width: 2px;
	border-color: white;
	border-style: dotted;
	*/
}

#tscore1{
	display: block;
	float: left;
	width: 50%;
}

#tscore2{
	display: block;
	float: right;
	width: 50%;
}

#logo{
	width: 70;
	height: 50;
}

.butpickchar{
	width: 60px;
	height: 60px;
}

.p1pickcharr{
	display: block;
	float: left;
}

.p2pickcharr{
	display: block;
	float: right;
}

#introtable{
	text-align: left;
	font-size: 1.5em;
	font-weight: bolder;
	font-family: 'Niconne', cursive;
	color: rgb(240,140,190);
}

#introtable td{
	width: 160px;
}

#pause{
	border-style: outset;
}

#imgbg:hover {
  -webkit-filter: blur(5px);
}

#canvas:hover{
	cursor: none;
}

html:hover{
	cursor: cell;
}

img[src='https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png']{
    display:none;
}